.callback {
    background: #2a3941;
    color: #ffffff;

    .callback__container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-top: 45px;
        padding-bottom: 45px;

        @include horizon() {
            flex-direction: column;
            align-items: center;
        }
    }

    .callback__title {
        margin-right: 100px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: 500;
        line-height: 30px;

        @include horizon() {
            margin-right: 0px;
            text-align: center;
        }
    }

    .callback__btn {
        height: 50px;
        width: 200px;
        cursor: pointer;
        background: #f9aa33;
        border: none;
        margin-right: 30px;
        transition: .3s;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;        
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.25px;

        @include horizon() {
            margin-right: 0px;
            margin-bottom: 20px;
        }

        &:hover {
            background: #ffffff;
            color: #f9aa33;
        }
    }

    .callback__btn--free-btn {
        @extend .callback__btn;
    }

    .callback__link {
        transition: .3s;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;        
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        color: #f9aa33;

        &:hover {
            color: #ffffff;
        }
    }
}