.cars {
    background: #232f34;
    color: #ffffff;

    .cars__container {
        padding-bottom: 100px;
    }

    .cars__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 50.06px;
        margin-bottom: 50px;
    }
    
    .cars__wrap {
        position: relative;
        width: 100%;
    }

    .cars__arrow-right {
        width: 15px;
        height: 31px;
        background: url('../images/arrow-right.png');
        position: absolute;
        right: -20px;
        top: 50%;
        z-index: 100;
        cursor: pointer;

        @include horizon() {
            right: 0;
        }
    }

    .cars__arrow-left {
        width: 15px;
        height: 31px;
        background: url('../images/arrow-left.png');
        position: absolute;
        left: -20px;
        top: 50%;
        z-index: 100;
        cursor: pointer;

        @include horizon() {
            left: 0;
        }
    }

    .cars__slider {
        display: flex;
    }

    .slider__slide {
        height: 200px;
        width: 16%;
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
    }
}