.footer {
    background-color: #232f34;
    color: #ffffff;

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        @include tablets() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .footer__text {
        color: #ffffff;
        text-decoration: none;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .rp__text {

    }

    .footer__rp {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #ffffff;
        transition: .3s;

        &:hover {
            color: #f9aa33;
        }
    }

    .rp__logo {
        width: 125px;
        height: 45px;
    }

    .rp__text {
        text-decoration: none;
        margin-right: 20px;
    }
}