.free {
    min-height: 606px;
    position: relative;

    .free__bg {
        position: absolute;
        left: 0;
        height: 100%;
        width: 50%;
        background: #232f34; 
        z-index: -15;       
    }

    .free__img {
        background: url('../images/free-bg.png') no-repeat;
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -10;
        box-shadow: inset -5px 0px 30px #232f34;

        @include tablets() {
            width: 100%;
            background-size: cover;
        }
    }

    .free__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
        min-height: 606px;

        @include tablets() {
            flex-direction: column;
            padding-bottom: 50px;
        }
    }

    .free__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 290px;
    }

    .free__title {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        line-height: 50px;
        color: #ffffff;
    }

    .free__link {
        color: #f9aa33;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        transition: .3s;

        &:hover {
            color: #ffffff;
        }
    }

    .free__form {
        display: flex;
        flex-direction: column;

        @include tablets() {
            align-items: center;
        }

        .form__title {
            color: #232f34;
            font-size: 28px;
            font-weight: 500;
            line-height: 35px;

            @include tablets() {
                color: #ffffff;
                text-align: center;
            }
        }

        .form__inp {
            border: none;
            border-bottom: 1px solid #232f34;
            padding: 15px;

            @include tablets() {
                width: 100%;
            }

            &:focus {
                outline: none;
            }
        }

        .form__btn {
            width: 191px;
            height: 55px;
            background-color: #f9aa33;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.25px;
            border: none;
            margin-top: 50px;
            cursor: pointer;
            transition: .3s;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;

            &:hover {
                background: #232f34;
                color: #ffffff;
            }
        }
    }
}