.phone-popup {
    position: fixed;
    width: 470px;
    height: 302px;
    top: 50%;
    left: 50%;
    margin-top: -151px;
    margin-left: -235px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    @include horizon() {
        width: 100vw;
        margin-left: 0;
        left: 0;
    }

    &--active {
        display: flex;
    }

    .phone-popup__exit {
        position: absolute;
        color: #232f34;
        right: 20px;
        top: 10px;
        font-size: 35px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            color: #f9aa33;
        }
    }

    .phone-popup__form {
        display: flex;
        flex-direction: column;

        .form__inp {
            border: none;
            border-bottom: 1px solid #232f34;
            margin-bottom: 35px;
            padding: 10px;

            &:focus {
                outline: none;
            }
        }
    }

    .phone-popup__title {
        margin-top: 0;
        color: #232f34;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .form__btns {

        .form__btn {
            width: 155px;
            height: 55px;
            background-color: #f9aa33;
            color: #232f34;
            border: none;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            letter-spacing: 0.25px;
            cursor: pointer;
            margin-right: 50px;
            transition: .3s;

            &:hover {
                background: #232f34;
                color: #ffffff;
            }
        }

        .form__btn-exit {
            background: none;
            border: none;
            color: #656d71;
            font-family: Roboto;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.25px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #f9aa33;
            }
        }
    }
}

.entry-popup {
    position: fixed;
    width: 470px;
    height: 410px;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -235px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    @include horizon() {
        width: 100vw;
        margin-left: 0;
        left: 0;
    }

    &--active {
        display: flex;
    }

    .entry-popup__exit {
        position: absolute;
        color: #232f34;
        right: 20px;
        top: 10px;
        font-size: 35px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            color: #f9aa33;
        }
    }

    .entry-popup__form {
        display: flex;
        flex-direction: column;

        .form__inp {
            border: none;
            border-bottom: 1px solid #232f34;
            margin-bottom: 15px;
            padding: 10px;

            &:focus {
                outline: none;
            }
        }
    }

    .phone-popup__title {
        margin-top: 0;
        color: #232f34;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .form__btns {

        .form__btn {
            width: 155px;
            height: 55px;
            background-color: #f9aa33;
            color: #232f34;
            border: none;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            letter-spacing: 0.25px;
            cursor: pointer;
            margin-right: 50px;
            transition: .3s;

            &:hover {
                background: #232f34;
                color: #ffffff;
            }
        }

        .form__btn-exit {
            background: none;
            border: none;
            color: #656d71;
            font-family: Roboto;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.25px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #f9aa33;
            }
        }
    }
}