.reviews {
    background: #232f34;
    color: #ffffff;
    
    .reviews__container {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .reviews__title {
        font-family: Roboto;
        font-size: 44px;
        font-weight: 700;
        line-height: 50.06px;
    }

    .reviews__list {
        display: flex;
        flex-wrap: wrap;
    }

    .list__item {
        width: 50%;
        padding: 45px 45px 45px 0;

        &:first-child {
            border-right: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
        }

        &:nth-child(2) {
            padding: 45px;
            padding-right: 0;
            border-bottom: 1px solid #ffffff;
        }

        &:nth-child(3) {
            border-right: 1px solid #ffffff;            
        }

        &:nth-child(4) {
            padding: 45px;
            padding-right: 0;
        }
    }

    .item__text {
        line-height: 24px;
    }
}