.talk {
    background: #232f34;
    color: #ffffff;

    .talk__container {
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .talk__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 50px;
    }

    .talk__wrap {
        position: relative;
        width: 100%;
    }

    .talk__arrow-right {
        width: 15px;
        height: 31px;
        background: url('../images/arrow-right.png');
        position: absolute;
        right: -20px;
        top: 50%;
        z-index: 100;
        cursor: pointer;

        @include horizon() {
            right: 0;
        }
    }

    .talk__arrow-left {
        width: 15px;
        height: 31px;
        background: url('../images/arrow-left.png');
        position: absolute;
        left: -20px;
        top: 50%;
        z-index: 100;
        cursor: pointer;

        @include horizon() {
            left: 0;
        }
    }

    .talk__slider {
        display: flex;
        width: 100%;
    }

    .slider__slide {
        border-right: 1px solid #ffffff;
        padding: 20px;

        @include horizon() {
            padding: 0;
            border: none;
        }

        &:nth-child(even) {
            border-right: none;
        }

        .slide__text {
            font-size: 16px;
        }

        .slide__auth {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .talk__link {
        width: 257px;
        height: 55px;
        background-color: #f9aa33;
        color: #232f34;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        margin-top: 70px;

        &:hover {
            background: #ffffff;
        }
    }
}