.team {
    background-color: #232f34;
    color: #ffffff;

    .team__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 50px;
    }

    .team__list {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        @include tablets() {
            flex-direction: column;
        }

        .team__item {
            display: flex;
            flex-direction: column;
            width: 33%;
            padding: 40px;

            @include tablets() {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
                border-bottom: 2px solid #ffffff;
            }

            &:first-child {
                padding-left: 0;
                border-right: 2px solid #ffffff;

                @include tablets() {
                    border-right: none;
                }
            }
            
            &:last-child {
                padding-right: 0;
                border-left: 2px solid #ffffff;

                @include tablets() {
                    border-left: none;
                }
            }
        }

        .item__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include tablets() {
                width: 100%;
                justify-content: space-around;
            }
        }

        .top__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .item__title {
                text-align: center;
            }
        }
    }
}