.why {
    background: #232f34;
    position: relative;
    padding-bottom: 100px;

    .why__img {
        position: absolute;
        left: 0;
        width: 55%;
        height: 100%;
        background: url('../images/why-bg.png') no-repeat;
        box-shadow: -60px 0px 30px #232f34;        

        @include tablets() {
            width: 100%;
            height: 100%;
        }
    }

    .why__container {
        align-items: flex-end;
        position: relative;
        padding-bottom: 45px;
    }

    .why__content {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        width: 40%;
        z-index: 100;

        @include tablets() {
            width: 100%;
            z-index: 100;
        }
    }

    .content__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 50px;
    }

    .content__list {
        display: flex;
        flex-direction: column;

        .content__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .item__title {
            color: #f9aa33;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin: 0;
            margin-bottom: 15px;
        }

        .item__text {
            margin: 0;
        }
    }
}