<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Автосервис «Левша»</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header">
        <div class="container header__container">
            <a href="#" class="header__logo">Автосервис <span class="logo__bold">"Левша"</span></a>
            <ul class="header__nav">
                <li class="nav__item">
                    <a href="#" class="item__link">Услуги</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="item__link">Цены</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="item__link">Акции</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="item__link">Отзывы</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="item__link">Контакты</a>
                </li>
            </ul>
            <div class="phone">
                <button class="phone__btn">Заказать звонок</button>
                <a href="tel:+73512503030" class="phone__link">+7 (351) 250-30-30</a>
            </div>
        </div>
    </header>
    <section class="hero">
        <div class="hero__img"></div>
        <div class="container hero__container">
            <div class="hero__content">
                <h1 class="hero__title">Испачкаем свои руки вместо ваших</h1>
                <p class="hero__text">Оставьте заявку сейчас и получите скидку 10% на любую услугу</p>
                <button class="hero__btn">Получить скидку</button>
            </div>
        </div>
    </section>
    <section class="type">
        <div class="container type__container">
            <ul class="type__list">
                <li class="type__item type__item--top">
                    <a href="#" class="item__link">Техобслуживание</a>
                </li>
                <li class="type__item type__item--top">
                    <a href="#" class="item__link">Ремонт КПП</a>
                </li>
                <li class="type__item type__item--top">
                    <a href="#" class="item__link">Ремонт АКПП</a>
                </li>
                <li class="type__item type__item--top">
                    <a href="#" class="item__link">Ремонт тормозной системы</a>
                </li>
                <li class="type__item type__item--bot">
                    <a href="#" class="item__link">Ремонт двигателя</a>
                </li>
                <li class="type__item type__item--bot">
                    <a href="#" class="item__link">Ремонт подвески</a>
                </li>
                <li class="type__item type__item--bot">
                    <a href="#" class="item__link">Ремонт трансмиссии</a>
                </li>
                <li class="type__item type__item--bot">
                    <a href="#" class="item__link">Все услуги сервиса</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="section why">
        <div class="why__img"></div>
        <div class="container why__container">
            <div class="why__content">
                <h2 class="content__title">Почему люди выбирают нас</h2>
                <ul class="content__list">
                    <li class="content__item">
                        <h3 class="item__title">Качественное обслуживание</h3>
                        <p class="item__text">Несем полную ответственность и даем гарантию на выполненные работы.</p>
                    </li>
                    <li class="content__item">
                        <h3 class="item__title">Выгоды и скидки</h3>
                        <p class="item__text">Специальные предложения постоянным клиентам, акции и скидки для тех, кто у
                            нас впервые. Бесплатная консультация от мастера</p>
                    </li>
                    <li class="content__item">
                        <h3 class="item__title">Все виды ремонтных работ</h3>
                        <p class="item__text">Мелкосрочный ремонт автомобиля, ремонт двигателя, подвески, сварочные и другие
                            работы.
                        </p>
                    </li>
                    <li class="content__item">
                        <h3 class="item__title">Работаем 24/7</h3>
                        <p class="item__text">Вы можете привезти свой автомобиль на ремонт в любое время. Если это произошло
                            ночью, утром мы сразу же возьмем его в работу.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section callback">
        <div class="container callback__container">
            <h1 class="callback__title">Узнайте стоимость вашего ремонта</h1>
            <button class="callback__btn">Заказать звонок</button>
            <a href="#" class="callback__link">Посмотреть цены</a>
        </div>
    </section>
    <section class="section team">
        <div class="container team__container">
            <h1 class="team__title">Команда автосервиса</h1>
            <ul class="team__list">
                <li class="team__item">
                    <div class="item__top">
                        <img src="./assets/images/team-1.png" alt="#" class="item__img">
                        <div class="top__text">
                            <h3 class="item__title">Дмитрий Алексеевич</h3>
                            <p class="item__text">Управляющий</p>
                        </div>
                    </div>
                    <div class="item__bot">
                        <p class="item__text">«Влюбился в автомобили ещё будучи подростком. Начал с внутреннего устройства
                            железных коней на мелко-ремонтных работах. С течением времени стал опытным мастером и однажды
                            познал дзен автолюбителя – стал обращаться в сервис только в крайнем случае» В нашем сервисе
                            Дмитрий всё организует и за всё отвечает.</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="item__top">
                        <img src="./assets/images/team-2.png" alt="#" class="item__img">
                        <div class="top__text">
                            <h3 class="item__title">Владимир Ватутин
                            </h3>
                            <p class="item__text">Учредитель</p>
                        </div>
                    </div>
                    <div class="item__bot">
                        <p class="item__text">Подвид перфекциониста – требовательный и внимательный к деталям, что и прививает
                            всем своим сотрудникам.</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="item__top">
                        <img src="./assets/images/team-3.png" alt="#" class="item__img">
                        <div class="top__text">
                            <h3 class="item__title">Иван-Мастер</h3>
                            <p class="item__text">Главный специалист</p>
                        </div>
                    </div>
                    <div class="item__bot">
                        <p class="item__text">Первая работа: Капитальный ремонт для ВАЗ 2101 1971г.в. В возрасте 14 лет с
                            помощью книг по эксплуатации и советов взрослых отремонтировал мотоцикл УРАЛ. Общее количество
                            машин, «поставленных на ноги» — более 3000</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="section talk">
        <div class="container talk__container">
            <h1 class="talk__title">Что клиенты говорят о нас</h1>
            <div class="talk__slider">
                <div class="slider__slide">
                    <p class="slide__text">Столкнулся с такой проблемой, как замена КПП на Mazda. Когда покупал машину она
                        уже была в состоянии «удовлетворительно», благо старый хозяин отдал мне её вместе с машиной, он не
                        хотел этим заниматься. Долго искал подходящий автосервис, на выбор повлияли такие факторы как: время
                        и финансы, которые после покупки машины «пели романсы», по совету друзей позвонил в автосервис «Левша».
                        Ребята быстро среагировали, предложили эвакуатор (но моя машина доехала сама) и при мне приступили
                        к работе. Через 3 часа моя машина порхала, как «бабочка». Все мне объяснили, показали, дали рекомендации
                        в целом по эксплуатации авто. Я остался довольным.</p>
                    <p class="slide__auth">Епифанов Олег</p>
                    <p class="slide__car">Mazda cx5</p>
                </div>
                <div class="slider__slide">
                    <p class="slide__text">Хотелось бы выразить огромную благодарность сервису «Левша», а так же его команде.
                        Поломка была устранена в течение дня, утром приехал, вечером уехал. Услугу мне оказывали по замене
                        привода на KIA, думал сдерут огромную сумму , но цена меня просто порадовала. В автосервис запчасти
                        можно привезти самому, но так же автосервис предоставляет свои запчасти (новые вместе с чеками и
                        гарантией). Все понравилось, отличный подход к клиентам, обязательно приеду ещё и расскажу друзьям.
                        P.S. Ещё сделали скидку на эвакуатор! Спасибо, ребят!</p>
                    <p class="slide__auth">Шушарин Андрей</p>
                    <p class="slide__car">KIA Rio</p>
                </div>
            </div>
            <a href="#" class="talk__link">посмотреть все отзывы</a>
        </div>
    </section>
    <section class="section free">
        <div class="container free__container">
            <div class="free__text">
                <h1 class="free__title">Бесплатная консультация от мастера</h1>
                <a href="#" class="free__link">посмотреть Все акции</a>
            </div>
            <form action="#" class="free__form">
                <h3 class="form__title">Запись на консультацию</h3>
                <input type="text" class="form__inp" placeholder="Имя">
                <input type="text" class="form__inp" placeholder="Телефон">
                <input type="text" class="form__inp" placeholder="Email">
                <button class="form__btn">Записаться</button>
            </form>
        </div>
    </section>
    <section class="section history">
        <div class="container history__container">
            <div class="history__img">
                <!-- <img src="" alt="" class="img__photo"> -->
                <p class="img__text">Владимир Ватутин</p>
            </div>
            <div class="history__content">
                <h3 class="history__title">История автосервиса от собственника</h3>
                <p class="history__text">«Я, как частный предприниматель – владелец эвакуационной службы, прочувствовал на
                    себе, как много времени отнимает ремонт коммерческого транспорта, особенно если у тебя 3-4 автомобиля
                    или более. А помимо этого есть ещё и личный автомобиль, который тоже требует внимания. В определённый
                    момент для меня автосервисы превратились в пожирателей времени. А мне это время хотелось уделять семье
                    и друзьям, развитию себя и своего бизнеса, отдыху и любимому хобби.
                </p>
                <p class="history__text">
                    Так я пришёл к мысли о том, что мне нужен собственный сервис, который будет экономить время и деньги, станет верным и надёжным
                    помощником и будет заботиться об автомобилях с должным вниманием.
                </p>
                <p class="history__text">
                    Я создал его для предпринимателей и автовладельцев, у которых разнообразнаяи интересная жизнь, которым важно постоянно двигаться
                    вперёд, быть мобильным и эффективным.
                </p>
                <p class="history__text">
                    Рады вам в любое время.»
                </p>
            </div>
        </div>
    </section>
    <section class="section cars">
        <div class="container cars__container">
            <h1 class="cars__title">Автомобили, которые мы обслуживаем</h1>
            <div class="cars__slider">
                <div class="slider__slide">
                    <a href="#" class="slide__link">
                        <img src="./assets/images/cars/1.png" alt="#" class="link__img">
                    </a>
                </div>
                <div class="slider__slide">
                    <a href="#" class="slide__link">
                        <img src="./assets/images/cars/2.png" alt="#" class="link__img">
                    </a>
                </div>
                <div class="slider__slide">
                    <a href="#" class="slide__link">
                        <img src="./assets/images/cars/3.png" alt="#" class="link__img">
                    </a>
                </div>
                <div class="slider__slide">
                    <a href="#" class="slide__link">
                        <img src="./assets/images/cars/4.png" alt="#" class="link__img">
                    </a>
                </div>
                <div class="slider__slide">
                    <a href="#" class="slide__link">
                        <img src="./assets/images/cars/5.png" alt="#" class="link__img">
                    </a>
                </div>
                <div class="slider__slide">
                    <a href="#" class="slide__link">
                        <img src="./assets/images/cars/6.png" alt="#" class="link__img">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section contacts">
        <div class="container contacts__container">
            <div class="contacts__map"></div>
            <div class="contacts__info">
                <p class="info__name">Адрес</p>
                <p class="info__text">Челябинск, <br> ул.Маслобазовая 6/2</p>
                <p class="info__name">Контакты</p>
                <a href="tel:+73512503030" class="info__link">+7 (351) 250-30-30</a>
                <a href="mailto:levshaservice@mail.ru" class="info__link">levshaservice@mail.ru</a>
                <button class="info__btn">Записаться в автосервис</button>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container footer__container">
            <p class="footer__text">&copy; Автосервис "Левша", 2018</p>
            <a href="#" target="_blank" class="footer__rp">
                <p class="rp__text">Создание и продвижение сайта</p>
                <img src="./assets/images/rp-logo.png" alt="logo" class="rp__logo">
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>